*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow: hidden;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #666;
	line-height: 5vh;
}

.container{
	height: 100vh;
	width: 100%;
	background-color: #dcdcd7;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

img{
	width: 20vh;
	border-radius: 100%;
	margin-right: 5vh;
	height: 20vh;
	object-fit: cover;
}
.content{
	display: flex;
	align-items: center;
	border: 1px dashed #666;
	padding: 5vh;
}
.content a{
	background: #c2b2a5;
	padding: 5px;
}
a{
	color: #666;
	text-decoration: none;
	font-weight: 700;
}

a:hover{
	text-decoration: none;
	color: #666;
}
span{
	position: relative;
	z-index: 1;
}
span::after{
	content: '';
	background: #c2b2a5;
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 100%;
	left: 0;
	z-index: -1;
}
.content p{
	border-left: 1px dashed #666;
	padding-left: 5vh;
}
.info{
	display: flex;
	margin-top: 5vh;
	font-size: 16px;
}
.info p:first-child{
	margin-right: 5vh;
}

.info p{
	font-weight: 300;
	border-left: 3px solid #c2b2a5;
	line-height: 16px;
	padding-left: 1vh;
}
.info p a {
	font-weight: 700;
}

@media screen and (max-width: 900px){
	.content{
		flex-direction: column;
	}
	
	.content p{
		border-top: 1px dashed #666;
		border-left: none;
		padding-left: 0;
		padding-top: 5vh;
		margin-top: 5vh;
		font-size: 16px;
	}
	
	.info{
		flex-direction: column;
	}

	.info p:first-child{
		margin-right: 0;
		margin-bottom: 5vh;
	}
}